DOMAIN_FILE = "/data/domains/top10000_alexa.txt"
DOMAINS = open(DOMAIN_FILE)

WORKER_COUNT = 20
# REMEMBER TO ADJUST the hard timeout in fpmon/chrome/start_chrome to PAGELOAD_TIMEOUT + IMPLICITWAIT_TIMEOUT
PAGELOAD_TIMEOUT = 45
IMPLICITWAIT_TIMEOUT = 45
REMOVE_CHROME_PROFILE = True
ENABLE_PROXY = True